.moduletable_search, #header_left, #header_right, #nav, #col2, #col3{display:none;}
#header_graphic{background:#fff;}
#body article #page{font-family:Verdana;}
article{width:960px;}
.s-c-s #col1pad{margin-left:200px;width:100%}
#main{margin-top:-170px;}
